[class^='section-'] {
  text-align: center;
  position: relative;
  margin: auto;
  padding: 0;
  @include pt80;
  @include pb80;
  @include tablet {
    @include pt100;
    @include pb100;
  }
  @include laptop {
    @include pt120;
    @include pb120;
  }
  @include desktop {
    @include pt150;
    @include pb150;
  }
}

.section__header {
  %title-color-gray { color: $color-gray-dark;}
  %title-color-white { color: $color-gray-ligtest;}
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  @include clearfix;
  h2 {font-size: 36px; line-height: 48px; @extend %title-color-gray; @include font_loader($notosans, 1, 'n'); margin-bottom: 16px;}
  h3 {font-size: 18px; line-height: 30px; @extend %title-color-gray; @include font_loader($notosans, 1, 'n'); margin-bottom: 32px;}
  h4 {font-size: 16px; line-height: 28px; @extend %title-color-gray; @include font_loader($notosans, 1, 'n'); margin-bottom: 24px;}
  @include tablet {
    padding: 0;
    @include span(6);
    @include push(1);
    h2 {font-size: 42px; line-height: 54px; margin-bottom: 20px;}
    h3 {font-size: 18px; line-height: 30px; margin-bottom: 40px;}
    h4 {font-size: 16px; line-height: 28px; margin-bottom: 30px;}
  }
  @include laptop {
    @include span(6);
    @include push(3);
    h2 {font-size: 48px; line-height: 60px;}
    h3 {font-size: 20px; line-height: 32px;}
    h4 {font-size: 16px; line-height: 28px;}
  }
  .section-case & {
    h2 {@extend %title-color-white;}
    h3 {@extend %title-color-white;}
    h4 {@extend %title-color-white;}
  }
  .section-download & {
    h2 {@extend %title-color-white;}
    h3 {@extend %title-color-white;}
    h4 {@extend %title-color-white;}
  }
}
