doctype html
html
  head
    title IDHub Website
    meta(charset='utf-8' http-equiv='X-UA-Compatible')
    meta(data-react-helmet='true' name='description' content='IDHub official website')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='robots' content='index, follow')
    meta(property='og:type' content='website')
    meta(property='og:image' content='https://raw.githubusercontent.com/donh/vsite/master/static/logo.png')
    meta(property='og:site_name' content='IDHub official website')
    link(rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='./css/main.css')
    link(rel='stylesheet' type='text/css' href='./css/parsley.css')
  body
    nav(class='navbar navbar-inverse')
      div(class='container')
        div(class='navbar-header')
          button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar-collapse' aria-expanded='false')
            span(class='sr-only') Toggle navigation
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
            a(class='navbar-brand pull-left' href='#') Brand
        div(class='collapse navbar-collapse' id='navbar-collapse')
          ul(class='nav navbar-nav center-block')
            li #[a(href='/') 首页]
            li #[a(href='/product') 产品]
            li #[a(href='/#team' target='_blank' rel='noopener noreferrer') 团队]
            li #[a(href='/data/IDHub_announcement_2017.12.22.pdf' download target='_blank') 公告]
            li #[a(href='https://github.com/idhubnetwork' target='_blank' rel='noopener noreferrer') 论坛]
            li #[a(href='/#news') 媒体报导]
            li #[a(href='/support') 服务支持]
            li #[a(href='/#contact') 联系我们]
    div(class='jumbotron heading__banner')
      div(class='container')
        div(class='item center-block text-center')
          h2 基于开放原则的去中心化
          h1 数字身份管理和应用平台
          a(href='/data/IDHub_whitepaper_v0.4.2_cn.pdf' download target='_blank' class='btn btn-default call_to_action') 了解更多
    div(class='Acarousel-caption-wrapper')
      div(class='container')
        div(class='row')
          div(class='Acarousel-caption') IDHub 是建立在开放原则之上，基于区块链技术的去中心化数字身份应用平台，具备良好的技术兼容性与功能拓展性。作为进入数字社会的入口，IDHub通过区块链技术，对个人身份的有效性、真实性、唯一性进行合理验证，力求将身份控制权由第三方信息服务机构重新收回到个人手中，为用户塑造完整、可信的自主身份，构建以用户为主导的数字身份管理和应用平台，以及安全、自主、可信的身份管理机制，最终实现以数字身份链接一切 (社会服务、数字资产、数字生活等) 的愿景。
    div(id='smart_contract' class='section_block clearfix')
      div(class='container')
        div(class='row')
          div(class='section_title') 验证地址
          div(class='input-group')
            input(id='hash_address' type='text' class='form-control' placeholder='BTC or ETH address&hellip;')
            span(class='input-group-btn')
              button(id='address_verify_btn' type='button' class='btn btn-default') Check
        div(class='row')
          div(id='address_result' class='center-block text-center hide')
    div(id='contact' class='section_block')
      div(class='conatiner')
        div(class='row')
          div(class='section_title') 联系我们
          div(class='contact_logos')
            a(href='https://www.facebook.com/IdhubOfficial' target='_blank' rel='noopener noreferrer')
              img(class='contact_logo' src='./img/contact_facebook.png' border='0' alt='IDHub Facebook')
            a(href='https://twitter.com/IDHUBOFFICIAL' target='_blank' rel='noopener noreferrer')
              img(class='contact_logo' src='./img/contact_twitter.png' border='0' alt='IDHub Twitter')
            a(href='https://idhubnetwork.herokuapp.com' target='_blank' rel='noopener noreferrer')
              img(class='contact_logo' src='./img/contact_slack.png' border='0' alt='IDHub Slack')
            a(href='https://github.com/idhubnetwork' target='_blank' rel='noopener noreferrer')
              img(class='contact_logo' src='./img/contact_github.png' border='0' alt='IDHub GitHub')
            a(href='https://t.me/joinchat/GwYlyA8g8aNQCBElmAk1Dw' target='_blank' rel='noopener noreferrer')
              img(class='contact_logo' src='./img/contact_telegram.png' border='0' alt='IDHub Telegram')
            img(class='contact_logo' src='./img/contact_wechat.png')
            img(class='contact_logo' src='./img/contact_qq.png')
            img(class='contact_logo' src='./img/contact_reddit.png')
    script(src='http://code.jquery.com/jquery-3.2.1.min.js' charset='UTF-8')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' charset='UTF-8')
    script(src='./js/support.js' charset='UTF-8')
