@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  box-sizing: border-box;

  font-weight: 400;
}
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Noto Sans', 'Noto Sans CJK', sans-serif, 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
  color: $color-gray-dark;
  background-color: $color-gray-ligtest;
  &.state-fixed{
    overflow: hidden;
  }
}
a {
  &, &:hover, &:focus {
    color: inherit;
  }
}
button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
input {
  border: none;
}
