@import '_abstracts/_variables';
@import '_abstracts/_mixin';
@import '_abstracts/_grid';

@import '_base/_base';

@import "_components/_social";
@import "_layout/_header";

* {
  box-sizing: border-box;
  font-weight: 100;
}
html {
  height: 100%;
}
body {
  height: 100%;
  color: $steel;
  &.state-fixed{
    overflow: hidden;
  }
}
a {
  &, &:hover, &:focus{
    color: inherit;
  }
}
button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
input {
  border: none;
}
main.page_wrapper {
  background: #1F2D51;
}

.page {
  min-height: 600px;
  margin-left: 5%;
  margin-right: 5%;
}

