// @font-face {
//     font-family: 'Noto Sans';
//     font-style: normal;
//     src: url('./assets/fonts/NotoSans-Black.ttf') format('ttf');
//     font-weight: 900;
//     font-style: Black;
// }
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    src: url('./assets/fonts/NotoSans-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: Bold;
}
// @font-face {
//     font-family: 'Noto Sans';
//     font-style: normal;
//     src: url('./assets/fonts/NotoSans-Medium.ttf') format('ttf');
//     font-weight: 500;
//     font-style: Medium;
// }
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    src: url('./assets/fonts/NotoSans-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: Regular;
}
// @font-face {
//     font-family: 'Noto Sans';
//     font-style: normal;
//     src: url('./assets/fonts/NotoSans-DemiLight.ttf') format('ttf');
//     font-weight: 350;
//     font-style: DemiLight;
// }
// @font-face {
//     font-family: 'Noto Sans';
//     font-style: normal;
//     src: url('./assets/fonts/NotoSans-Light.ttf') format('ttf');
//     font-weight: 300;
//     font-style: Light;
// }
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    src: url('./assets/fonts/NotoSans-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: Thin;
}

// @font-face {
//     font-family: 'Noto Sans CJK SC';
//     font-style: normal;
//     src: url('./assets/fonts/NotoSansCJKsc-Black.otf') format('otf');
//     font-weight: 900;
//     font-style: Black;
// }
@font-face {
    font-family: 'Noto Sans CJK SC';
    font-style: normal;
    src: url('./assets/fonts/NotoSansCJKsc-Bold.otf') format('otf');
    font-weight: 700;
    font-style: Bold;
}
// @font-face {
//     font-family: 'Noto Sans CJK SC';
//     font-style: normal;
//     src: url('./assets/fonts/NotoSansCJKsc-Medium.otf') format('otf');
//     font-weight: 500;
//     font-style: Medium;
// }
@font-face {
    font-family: 'Noto Sans CJK SC';
    font-style: normal;
    src: url('./assets/fonts/NotoSansCJKsc-Regular.otf') format('otf');
    font-weight: 400;
    font-style: Regular;
}
// @font-face {
//     font-family: 'Noto Sans CJK SC';
//     font-style: normal;
//     src: url('./assets/fonts/NotoSansCJKsc-DemiLight.otf') format('otf');
//     font-weight: 350;
//     font-style: DemiLight;
// }
// @font-face {
//     font-family: 'Noto Sans CJK SC';
//     font-style: normal;
//     src: url('./assets/fonts/NotoSansCJKsc-Light.otf') format('otf');
//     font-weight: 300;
//     font-style: Light;
// }
@font-face {
    font-family: 'Noto Sans CJK SC';
    font-style: normal;
    src: url('./assets/fonts/NotoSansCJKsc-Thin.otf') format('otf');
    font-weight: 100;
    font-style: Thin;
}

// @font-face {
//     font-family: 'Noto Sans CJK TC';
//     font-style: normal;
//     src: url('./assets/fonts/NotoSansCJKtc-Black.otf') format('otf');
//     font-weight: 900;
//     font-style: Black;
// }
@font-face {
    font-family: 'Noto Sans CJK TC';
    font-style: normal;
    src: url('./assets/fonts/NotoSansCJKtc-Bold.otf') format('otf');
    font-weight: 700;
    font-style: Bold;
}
// @font-face {
//     font-family: 'Noto Sans CJK TC';
//     font-style: normal;
//     src: url('./assets/fonts/NotoSansCJKtc-Medium.otf') format('otf');
//     font-weight: 500;
//     font-style: Medium;
// }
@font-face {
    font-family: 'Noto Sans CJK TC';
    font-style: normal;
    src: url('./assets/fonts/NotoSansCJKtc-Regular.otf') format('otf');
    font-weight: 400;
    font-style: Regular;
}
// @font-face {
//     font-family: 'Noto Sans CJK TC';
//     font-style: normal;
//     src: url('./assets/fonts/NotoSansCJKtc-DemiLight.otf') format('otf');
//     font-weight: 350;
//     font-style: DemiLight;
// }
// @font-face {
//     font-family: 'Noto Sans CJK TC';
//     font-style: normal;
//     src: url('./assets/fonts/NotoSansCJKtc-Light.otf') format('otf');
//     font-weight: 300;
//     font-style: Light;
// }
@font-face {
    font-family: 'Noto Sans CJK TC';
    font-style: normal;
    src: url('./assets/fonts/NotoSansCJKtc-Thin.otf') format('otf');
    font-weight: 100;
    font-style: Thin;
}
